@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

$dark-color: #19232d;
$primary-color: #dcbb87;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
}

body {
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #f4f6ff !important;
}

ul {
  list-style: none !important;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

button {
  border: none;
  background-color: transparent;
}

svg {
  width: 25px;
}

main {
  background-color: #f5f3f1;
  position: relative;
  background-image: url(../images/banner-bg.png);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

// satrt header
header {
  padding: 10px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      img {
        width: 170px;
      }
    }

    .info_header {
      display: flex;
      align-items: center;
      gap: 20px;

      .dropdown {
        button {
          border: none;
          background-color: transparent;
          color: $dark-color;

          .lang_icon {
            i {
              font-size: 20px;
            }
          }

          &::after {
            display: none;
          }
        }
      }

      .btn_apply {
        line-height: 50px;
        color: $dark-color;
        padding: 0 30px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 16px;
        background-color: $primary-color;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    padding: 10px 0;

    .container {
      .logo {
        img {
          width: 130px;
        }
      }

      .info_header {
        .btn_apply {
          padding: 10px 20px;
          font-size: 14px;
          line-height: 1;
        }
      }
    }
  }
}
// end header

// start hero_section
.hero_section {
  height: calc(100vh - 70px);

  .container {
    height: 100%;

    .line {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 40px;

      .left,
      .right {
        width: 50%;
      }

      .left {
        .subtitle {
          font-size: 18px;
          font-weight: 500;

          span {
            color: $primary-color;
          }
        }

        .title {
          font-size: 45px;
          font-weight: 700;
          margin: 5px 0 15px;
        }

        .info {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 20px;

          span {
            color: $primary-color;
          }
        }

        .desc {
          font-size: 17px;
          line-height: 1.6;
          color: gray;
        }
      }

      .right {
        .form_container {
          max-width: 480px;
          margin: auto;
          padding: 15px;
          border-radius: 10px;
          background-color: white;

          h4 {
            text-align: center;
            font-weight: 600;
            font-size: 25px;
            margin-bottom: 30px;

            i {
              font-size: 22px;
              color: $primary-color;
            }
          }

          .input_item {
            margin-bottom: 15px;

            label {
              font-size: 15px;
              font-weight: 600;
              margin-bottom: 5px;
            }

            input {
              width: 100%;
              outline: none;
              border-radius: 5px;
              border: 1px solid rgb(197, 197, 197);
              padding: 5px;
            }
          }

          .btn_submit {
            border: none;
            background-color: $primary-color;
            color: $dark-color;
            font-weight: 600;
            border-radius: 7px;
            padding: 8px 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero_section {
    .container {
      .line {
        flex-direction: column;
        gap: 30px;
        justify-content: center;

        .left,
        .right {
          width: 100%;
        }

        .left {
          text-align: center;

          .subtitle {
            font-size: 14px;
          }

          .title {
            font-size: 24px;
            margin: 2px 0 5px;
          }

          .info {
            font-size: 14px;
            margin-bottom: 2px;
          }

          .desc {
            font-size: 12px;
            margin-bottom: 0;
          }
        }

        .right {
          .form_container {
            box-shadow: 0px 5px 10px #d4d4d4;

            h4 {
              font-size: 19px;
              margin-bottom: 15px;

              i {
                font-size: 17px;
              }
            }

            .input_item {
              margin-bottom: 6px;

              label {
                font-size: 13px;
              }

              input {
                padding: 1px 8px;
              }
            }

            .btn_submit {
              padding: 4px 20px;
              font-size: 14px;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
// end hero_section

// start why_chooseUs
.why_chooseUs {
  padding: 90px 0;
  background-color: $dark-color;
  color: white;

  .line {
    display: flex;
    align-items: center;
    gap: 40px;

    .left,
    .right {
      width: 50%;
    }

    .left {
      .subtitle {
        font-size: 18px;
        color: $primary-color;
      }

      .title {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .desc {
        color: rgb(187, 187, 187);
        line-height: 1.6;
      }

      .features {
        .feature {
          display: flex;
          gap: 5px;

          &:not(:last-child) {
            margin-bottom: 15px;
          }

          i {
            font-size: 19px;
            color: $primary-color;
          }

          span {
            font-size: 14px;
          }
        }
      }
    }

    .right {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 330px;
        height: 330px;
        border: 2px solid $primary-color;
        border-radius: 12px;
      }

      .image,
      .image2 {
        position: absolute;
        img {
          height: 330px;
          width: 380px;
          object-fit: cover;
          border-radius: 12px;
        }
      }

      .image {
        top: -240px;
        right: 0;
      }

      .image2 {
        top: -60px;
        left: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .why_chooseUs {
    padding: 40px 0;

    .line {
      flex-direction: column;

      .left,
      .right {
        width: 100%;
      }

      .left {
        text-align: center;

        .subtitle {
          font-size: 14px;
        }

        .title {
          font-size: 20px;
          margin-bottom: 3;
        }

        .desc {
          font-size: 13px;
          line-height: 1.4;
        }

        .features {
          .feature {
            &:not(:last-child) {
              margin-bottom: 6px;
            }

            i {
              font-size: 13px;
            }

            span {
              font-size: 12px;
            }
          }
        }
      }

      .right {
        height: 360px;

        &::before {
          width: 250px;
          height: 250px;
        }

        .image,
        .image2 {
          img {
            max-width: 250px;
            width: 100%;
            height: 250px;
          }
        }

        .image {
          top: 0;
        }

        .image2 {
          top: 130px;
        }
      }
    }
  }
}
// end why_chooseUs

// start skyteam_programs
.skyteam_programs {
  padding: 70px 0;

  .title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;

    span {
      color: $primary-color;
    }
  }

  .line {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 50px;

    .left {
      width: 30%;

      .subtitle {
        font-size: 19px;
        color: $primary-color;
      }

      .title_line {
        font-size: 40px;
        font-weight: 700;
      }

      .desc {
        font-size: 15px;
        color: gray;
      }
    }

    .right {
      width: 70%;
      padding: 40px;
      background-image: url(../images//bg-services.jpg);
      background-position: center left;
      background-size: cover;
      border-radius: 12px;
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #302f2f;
        opacity: 0.9;
      }

      .boxs {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 10px;
        position: relative;
        z-index: 10;
        color: whitesmoke;

        .box {
          transition: all 0.3s;
          padding: 15px;
          border-radius: 12px;

          &:hover,
          &.active {
            background-color: $primary-color;
          }

          .icon {
            margin-bottom: 10px;
            img {
              width: 55px;
            }
          }

          .text {
            h4 {
              font-size: 20px;
              font-weight: 600;
              margin-bottom: 5px;
            }

            p {
              font-size: 15px;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .skyteam_programs {
    padding: 35px 0;

    .title {
      font-size: 20px;
    }

    .line {
      flex-direction: column;
      gap: 30px;
      margin-top: 30px;

      .left,
      .right {
        width: 100%;
      }

      .left {
        text-align: center;

        .subtitle {
          font-size: 17px;
        }

        .title_line {
          font-size: 19px;
        }

        .desc {
          font-size: 13px;
          margin-bottom: 0;
        }
      }

      .right {
        padding: 20px;
        .boxs {
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

          .box {
            text-align: center;

            .icon {
              img {
                width: 40px;
              }
            }

            .text {
              h4 {
                font-size: 18px;
                margin-bottom: 2px;
              }

              p {
                margin-bottom: 0;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}
// end skyteam_programs

// satrt asked_questions
.asked_questions {
  padding: 80px 0;
  background-color: $dark-color;
  background-image: url("../images/request-quote-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;

  .title {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 700;
    text-align: center;
  }

  .faq_box {
    .accordion {
      .accordion-item {
        border-radius: 10px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
        border: none;
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .accordion-button {
          border: none;
          border-radius: 7px;
          font-weight: 600;
          background: #263648;
          color: white;

          &:not(.collapsed) {
            background-color: $primary-color !important;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .asked_questions {
    padding: 40px 0;

    .title {
      font-size: 17px;
      margin-bottom: 20px;
    }

    .faq_box {
      .accordion {
        .accordion-item {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          .accordion-button {
            font-size: 14px;
            padding: 10px;
          }

          .accordion-body {
            padding: 8px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
// end asked_questions

// start footer
footer {
  background-color: #131a23;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;

  .line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .copy_right {
      margin-bottom: 0;
      font-weight: 500;
      font-size: 14px;
    }

    .social_media {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        i {
          font-size: 18px;
          color: $primary-color;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    .line {
      flex-direction: column;
      gap: 10px;

      .copy_right {
        text-align: center;
        font-size: 13px;
      }

      .social_media {
        gap: 10px;

        a {
          i {
            font-size: 16px;
          }
        }
      }
    }
  }
}
// end footer
